nav {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  border: 1px solid blue;
  font-size: 2rem;
}

nav a {
  font-size: 2rem;
}

.nav-right {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

nav .nav-right button {
    background: none;
    /* border: none; */
    border: 1px solid yellow;
    padding: 0;
    margin: 0;
    font: inherit;
    color: #646cff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;  /* Same as link weight */
    font-size: 2rem;  /* Match nav link size */
}

nav .nav-right button:hover {
  /* color: #535bf2;  Same as link hover color */
  color: yellow;  
}