nav {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.nav-right {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

.main {
  border: 1px solid red;
  display: flex;
  justify-content: center;
}

.car-container {
  border: 1px solid green;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
}