nav {
  display: flex;
  align-items: center;
  padding: 1rem;
  border: 1px solid blue;
}

.nav-right {
  margin-left: auto;
  display: flex;
  gap: 1rem;
}

nav .nav-right button {
    background: none;
    /* border: none; */
    border: 1px solid yellow;
    padding: 0;
    margin: 0;
    font: inherit;
    color: #646cff;
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;  /* Same as link weight */
}

nav .nav-right button:hover {
  /* color: #535bf2;  Same as link hover color */
  color: yellow;  
}